@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 262 30% 96%;
    --foreground: 262 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 262 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 262 10% 20%;
    --primary: 262 52% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 45% 88%;
    --secondary-foreground: 262 10% 20%;
    --muted: 262 30% 90%;
    --muted-foreground: 262 10% 45%;
    --accent: 262 45% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 88%;
    --input: 262 20% 92%;
    --ring: 262 52% 51%;
    --chart-1: 262 52% 51%;
    --chart-2: 262 45% 63%;
    --chart-3: 262 45% 73%;
    --chart-4: 262 45% 83%;
    --chart-5: 262 45% 93%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 262 10% 15%;
    --foreground: 0 0% 98%;
    --card: 262 10% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 262 10% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 10% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 262 10% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 262 45% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 10% 30%;
    --input: 262 10% 30%;
    --ring: 262 52% 51%;
    --chart-1: 262 52% 51%;
    --chart-2: 262 45% 63%;
    --chart-3: 262 45% 53%;
    --chart-4: 262 45% 43%;
    --chart-5: 262 45% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
